.contenido{
    padding: 30px 20px 0px 20px;
}


.titulo{
    font-size: 15px;
    font-family: 'Poppins-Regular';
    text-transform: uppercase;
    text-align: center;

    hr{
        margin-top: 3px;
        margin-bottom: 20px;
    }
}

.botones{
    padding-bottom: 10px;
}
.btn-action{
    width: 120px;
    margin: 0px 3px;
}
