<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="contenedor">
    <!-- #region BOTONES ABMC -->
    <div class="abmc">
      <div class="botones">
        <button type="button" class="btn btn-success btn-sm" (click)="Agregar()"><mat-icon>add_circle</mat-icon>Nuevo</button>
        <button type="button" class="btn btn-warning btn-sm" (click)="Modificar()"><mat-icon>edit_square</mat-icon>Editar</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="Eliminar()"><mat-icon>delete_forever</mat-icon>Eliminar</button>
      </div>
      
      <!-- Input de Busqueda -->
      <app-busqueda (busqueda)="Buscar(undefined, $event)"></app-busqueda>
    </div>
    <!-- #endregion ABMC -->

    <!-- #region TABLA -->
    <div class="table-container">
      <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="seleccionados.hasValue() && isAllSelected()"
                          [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? seleccionados.toggle(row) : null"
                          [checked]="seleccionados.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

         <!-- Usuario -->
        <ng-container matColumnDef="usuario">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Usuario:</span><p>{{element.usuario}}</p></mat-cell>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Nombre:</span><p>{{element.nombre}}</p></mat-cell>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Email:</span><p>{{element.email}}</p></mat-cell>
        </ng-container>

        <!-- Cargo -->
        <ng-container matColumnDef="cargo">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Cargo:</span><p>{{element.cargo}}</p></mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
            (click)="OnCellClick(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[15, 30, 60]"
        (page)="Buscar($event)"
        aria-label="Select page"
        class="mat-elevation-z1">
      </mat-paginator>
    </div>
    <!-- #endregion TABLA -->

  </div>
  