<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>


<div class="contenedor">
    <!-- #region ABMC -->
    <div class="abmc">
        <div class="botones">
          <button mat-flat-button color="primary" (click)="VentasCliente()" disabled="true"><mat-icon>money_off</mat-icon>Cuenta Corriente</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="Eliminar()"><mat-icon>delete_forever</mat-icon>Dar De Baja</button>
        </div>

        <!-- Input de Busqueda -->
        <app-busqueda (busqueda)="Buscar(undefined, $event)"></app-busqueda>
      </div>
    <!-- #endregion ABMC -->

    <!-- #region HERRAMIENTAS -->
    <!-- <div class="herramientas">

      <div class="etiqueta">
        <mat-icon>construction</mat-icon>
        <span>Herramientas</span>
      </div>
      <div class="acciones">
        <button mat-flat-button color="primary" (click)="VentasCliente()"><mat-icon>money_off</mat-icon>Deudas / Ventas</button>
      </div>
    </div> -->
    <!-- #endregion HERRAMIENTAS -->

    <!-- #region TABLA -->
    <div class="table-container">
      <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="seleccionados.hasValue() && isAllSelected()"
                          [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? seleccionados.toggle(row) : null"
                          [checked]="seleccionados.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editar">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" matTooltip="Editar">
              <mat-icon class="editar" (click)="Modificar(element)">edit</mat-icon>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">Nombre:</span><p>{{element.nombre}}</p></mat-cell>
        </ng-container>

         <!-- Email -->
        <ng-container matColumnDef="email">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">Email:</span><p>{{element.email}}</p></mat-cell>
        </ng-container>

        <!-- Telefono -->
        <ng-container matColumnDef="telefono">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">Telefono:</span><p>{{element.telefono}}</p></mat-cell>
        </ng-container>

        <!-- Celular -->
        <ng-container matColumnDef="celular">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Celular</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">CElular:</span><p>{{element.celular}}</p></mat-cell>
        </ng-container>
        
        <!-- Condicion -->
        <ng-container matColumnDef="condicion">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Condicion IVA</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">Condicion IVA:</span><p>{{element.condicionIva}}</p></mat-cell>
        </ng-container>

         <!-- Documento -->
        <ng-container matColumnDef="documento">
          <mat-header-cell mat-header-cell *matHeaderCellDef>CUIL/CUIT</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">CUIL/CUIT:</span><p>{{element.documento}}</p></mat-cell>
        </ng-container>

        

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
            (click)="OnCellClick(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[15, 30, 60]"
        (page)="Buscar($event)"
        aria-label="Select page"
        class="mat-elevation-z1">
      </mat-paginator>
    </div>
    <!-- #endregion TABLA -->
  </div>
  