.contenido{
    font-size: 15px;
    font-family: 'Poppins-Light';
    text-align: center;
    padding: 0px 30px;
    
    span{
        color: var(--warn-text);
        font-family: 'Poppins-Regular';
    }
}