<div class="cabecera">
    <mat-icon>checklist</mat-icon>
    <h2>Resultados de Importación</h2>
</div>

<div class="resultados">
  <!-- Columna izquierda -->
  <div class="resumen">
    <h3>Resumen</h3>
    <p><strong>Insertados:</strong> {{ insertados }}</p>
    <p><strong>Actualizados:</strong> {{ actualizados }}</p>
    <p><strong>Errores:</strong> {{ errores.length }}</p>
  </div>

  <!-- Columna derecha -->
  <div class="errores">
    <h3>Errores</h3>

    <div
      class="errores-lista"
      [ngClass]="{
        'sin-errores': errores.length === 0,
        'con-errores': errores.length > 0
      }"
    >
      <ng-container *ngIf="errores.length > 0; else sinErrores">
        <div *ngFor="let error of errores" class="error-item">
          {{ error }}
        </div>
      </ng-container>

      <ng-template #sinErrores>
        <div class="sin-error-item">✅ La importación se realizó con éxito</div>
      </ng-template>
    </div>
  </div>
</div>


  
<mat-dialog-actions align="center">
    <button class="btn-action" mat-flat-button color="warn" (click)="Cerrar()">CERRAR</button>
</mat-dialog-actions>