<div class="cabecera">
    <mat-icon>alarm</mat-icon>
    <h2>Lista de Vencimientos</h2>
</div>


<div class="contenido">

    <div class="acciones">
        <app-busqueda (busqueda)="Buscar(undefined, $event)"></app-busqueda>
        <button mat-flat-button color="primary" (click)="ActualizarFechaVencimiento()"><mat-icon>edit_square</mat-icon>Actualizar Vencimientos</button>
    </div>
    
    <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

    <!-- Checkbox -->
    <ng-container matColumnDef="select">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="seleccionados.hasValue() && isAllSelected()"
                        [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
        </mat-checkbox>
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? seleccionados.toggle(row) : null"
                        [checked]="seleccionados.isSelected(row)">
        </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Codigo -->
    <ng-container matColumnDef="codigo">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Fecha:</span><p>{{element.codigo}}</p></mat-cell>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Producto:</span><p>{{element.nombre}}</p></mat-cell>
    </ng-container>

    <ng-container matColumnDef="vencimiento">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Vencimiento</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"
        [ngClass]="{
            'fechaAviso': element.estadoVencimiento == 2,
            'fechaVencido': element.estadoVencimiento == 1
            }"
        ><span class="mobile-label">Vencimiento:</span>
        <div class="vencimiento">
            <mat-icon *ngIf="element.estadoVencimiento == 1">do_disturb_on</mat-icon>
            <mat-icon *ngIf="element.estadoVencimiento == 2">warning_amber</mat-icon>
            {{ element.vencimiento }}
        </div>
    </mat-cell>
    </ng-container>

    <!-- Vencimiento -->
    <!-- <ng-container matColumnDef="vencimiento">
    <mat-header-cell *matHeaderCellDef>Vencimiento</mat-header-cell>
    <mat-cell *matCellDef="let element">
        
        <ng-container *ngIf="DiasRestantes(element.vencimiento) as dias">
        <div 
            class="vencimiento"
            [ngClass]="{
            'fechaAviso': dias <= 10 && dias > 1,
            'fechaVencido': dias <= 1
            }"
        >
            <span class="mobile-label">Vencimiento:</span>
            
            <mat-icon *ngIf="dias <= 1">do_disturb_on</mat-icon>
            <mat-icon *ngIf="dias <= 10 && dias > 1">warning_amber</mat-icon>
            
            {{ element.vencimiento | date:'dd/MM/yyyy' }}
        </div>
        </ng-container>

    </mat-cell>
    </ng-container> -->

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
        (click)="OnCellClick(row)">
    </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[15, 30, 60]"
    (page)="Buscar($event)"
    aria-label="Select page"
    class="mat-elevation-z1">
    </mat-paginator>
</div>

<div class="botones">
    <button mat-flat-button color="warn" (click)="Cerrar()">CERRAR</button>
</div>
  