<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>


<div class="contenedor">
    <!-- #region ABMC -->
    <div class="abmc">
        <div class="botones">
          <button type="button" class="btn btn-success btn-sm" (click)="Agregar()"><mat-icon>add_circle</mat-icon>Agregar</button>
          <button type="button" class="btn btn-warning btn-sm" (click)="Modificar()"><mat-icon>edit_square</mat-icon>Modificar</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="Eliminar()"><mat-icon>delete_forever</mat-icon>Eliminar</button>
        </div>

        <!-- Input de Busqueda -->
        <app-busqueda (busqueda)="Buscar($event)"></app-busqueda>
      </div>
    <!-- #endregion ABMC -->

    <!-- #region TABLA -->
    <div class="table-container">
      <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="seleccionados.hasValue() && isAllSelected()"
                          [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? seleccionados.toggle(row) : null"
                          [checked]="seleccionados.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> <span class="mobile-label">Descripcion:</span><p>{{element.descripcion}}</p></mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
            (click)="OnCellClick(row)">
        </mat-row>
      </mat-table>
    </div>
    <!-- #endregion TABLA -->
  </div>
  