<div class="cabecera">
    <mat-icon>person</mat-icon>
    <h2>{{titulo}}</h2>
</div>
<form class="form" [formGroup]="formulario" method="POST" (keyup.enter)='Guardar()' (keyup.esc)="dialogRef.close(false)" autocomplete="off">
    
    <!-- Usuario -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="usuario" (focus)="SelectContent($event)">
        <mat-error *ngIf="formulario.get('usuario')?.hasError('required')">
            Completa con un nombre de usuario
        </mat-error>
        <mat-error *ngIf="formulario.get('usuario')?.hasError('usuarioExistente')">
            Nombre de usuario no disponible
        </mat-error>
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput class="uppercase" type="text" formControlName="nombre" (focus)="SelectContent($event)">
        <mat-error>
            Completa con un nombre
        </mat-error>
    </mat-form-field>

        <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" (focus)="SelectContent($event)">
        <mat-error>
            El email no tiene un formato correcto
        </mat-error>
    </mat-form-field>

    <!--Cargos-->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="idCargo" (selectionChange)="validarPasswordAdmin()">
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nombre}}</mat-option >
        </mat-select>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="outline" class="full-width" *ngIf="esAdmin">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="pass" [type]="hide ? 'password' : 'text'" (focus)="SelectContent($event)">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
            Ingresa una contraseña
        </mat-error>
    </mat-form-field>
</form>

<mat-dialog-actions align="center">
    <button class="btn-action" mat-flat-button color="primary" (click)='Guardar()' >ACEPTAR</button>
    <button class="btn-action" mat-flat-button color="warn" [mat-dialog-close]="false">CANCELAR</button>
</mat-dialog-actions>