.uppercase{
    text-transform: uppercase !important;
}

.contenido{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}
.nuevo{
    padding-top: 50px;
}


.form{
    max-width: 1500px;
    border-radius: 10px;
    background-color: var(--color-element-back);
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    .izq{
        flex: 1;
        max-width: 650px;
    }
    .der{
        flex: 1;
        width: 650px;
        max-width: 650px;
    }
}

.doble{
    display: flex;
    gap: 10px;
}

.info{
    text-align: center;
    font-size: 13px;
    font-family: "Poppins-Regular";
}
.subtitulo{
    font-size: 13px;
    font-family: "Poppins-Regular";
    margin-bottom: 2px;
    text-align: center;

    span{
        color: var(--warn-text);
    }
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.color-box {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.08);
  }

  &.selected {
    border: 5px solid var(--border-color)
  }
}


.talles-grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
}
.talle-box{
    flex: 1;
    text-align: center;
    padding: 10px;
    &:hover {
        cursor: pointer;
        background-color: var(--border-color);
    }
    &.selected {
        background-color: var(--color-primary);
        color: white;
        border: 1px solid var(--border-color);
    }
}

.row-talle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--border-color);
    border-radius: 4px;

    h5{
        margin: 0%;
        font-size: 15px;
        font-family: "Poppins-Regular";
        margin-right: 20px;
        width: 230px;
    }

    input{
        width: 100%;
    }
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: calc(100% - 190px);
    padding: 10px 0px;
    background: var(--color-background) !important;

    button{
        width: 250px;
    }
}

.btnGuardar{
    width: 250px;
}


