<div class="cabecera">
    <mat-icon>cancel_presentation</mat-icon>
    <h2>Lista de Faltantes</h2>
</div>


<div class="contenido">

    <div class="acciones">
        <app-busqueda (busqueda)="Buscar(undefined, $event)"></app-busqueda>
        <button mat-flat-button color="primary" (click)="ActualizarFaltante()"><mat-icon>edit_square</mat-icon>Actualizar Aviso Faltantes</button>
    </div>
    
    <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

    <!-- Checkbox -->
    <ng-container matColumnDef="select">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="seleccionados.hasValue() && isAllSelected()"
                        [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
        </mat-checkbox>
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? seleccionados.toggle(row) : null"
                        [checked]="seleccionados.isSelected(row)">
        </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Codigo -->
    <ng-container matColumnDef="codigo">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Fecha:</span><p>{{element.codigo}}</p></mat-cell>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Producto:</span><p>{{element.nombre}}</p></mat-cell>
    </ng-container>

    <!-- Cantidad -->
    <ng-container matColumnDef="cantidad">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"
        [ngClass]="{
            'cantAviso': element.cantidad > element.faltante,
            'cantFaltante': element.cantidad <= element.faltante
            }"
        ><span class="mobile-label">Cantidad:</span>
        <div class="cantidad">
            <mat-icon *ngIf="element.cantidad <= element.faltante">do_disturb_on</mat-icon>
            <mat-icon *ngIf=" element.cantidad > element.faltante">warning_amber</mat-icon>
            {{element.cantidad}}
        </div>
    </mat-cell>
    </ng-container>

    <!-- Unidad -->
    <ng-container matColumnDef="unidad">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Unidad</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Unidad:</span><p>{{element.unidad}}</p></mat-cell>
    </ng-container>

    <!-- Nro Faltante -->
    <ng-container matColumnDef="faltante">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Nro Aviso Faltante</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Faltante:</span><p>{{element.faltante}}</p></mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
        (click)="OnCellClick(row)">
    </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[15, 30, 60]"
    (page)="Buscar($event)"
    aria-label="Select page"
    class="mat-elevation-z1">
    </mat-paginator>
</div>

<div class="botones no-imprimir">
    <button mat-flat-button color="warn" (click)="Cerrar()">CERRAR</button>
</div>
  