/*#region INPUTS FILTRO*/
.select{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 0px 10px;
    height: 40px;
}
.select mat-icon{
    cursor: pointer;
    margin-left: 5px;
}
.busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;

    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
}
.busqueda input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-font) !important;
}
.busqueda input:focus {
    outline: none; /* Elimina el borde del input al hacer clic */
}

.busqueda input::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--placeholders);
    font-weight: 400;
}

.busqueda mat-icon{
    cursor: pointer;
}
/*#endregion*/

.contenedor{
    padding-bottom: 70px;
}

.alert{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
}

.filtros {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto);  
  column-gap: 10px; 
  align-items: start;
  flex: 2;
}
.filtroTalles{
    display: flex;
    gap: 20px;
}

// Boton Cambio de Vista
.vista{
    mat-button-toggle{
        height: 38px;
    }
    mat-icon{
        margin-top: -10px;
    }

    .mat-button-toggle-checked mat-icon {
    color: var(--color-primary); 
    }

    mat-button-toggle mat-icon {
    color: var(--placeholders); 
    }
} 

.cellImagen:hover{
    cursor: pointer;
}

//Mobile
@media (min-width: 700px) {
    //Tabla
    .mat-column-codigo{
        max-width: 220px;
    }
    .mat-column-cantidad{
        max-width: 100px;
    }
    .mat-column-costo, .mat-column-precio, .mat-column-unidad{
        max-width: 150px;
    }
    .mat-column-tipoPrecio{
        max-width: 70px;
    }
    .mat-column-imagen{
        max-width: 170px;
    }

    .filtros{
        justify-content:left;
    }
}

@media (max-width: 700px) {
    .mat-column-imagen{
        display: none;
    }
}


//Tabla
.signo{
    display: none;
}
.mostrarSigno{
    display: inline-block;
}
.text-red {
  color: rgb(255, 71, 71);
}
.editar{
    margin-left: 5px;
    cursor: pointer;
    color: #fabb00 !important;

}
.mat-column-editar{
    max-width: 40px;
}
.mat-column-genero{
    max-width: 60px;
}
.mat-column-color, .mat-column-proceso, .mat-column-temporada{
    max-width: 80px;
}

.talles{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.linea{
    display: flex;
    width: 500px;
    margin-right: 50px;

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 35px;
        border-left: 1px solid rgb(255, 255, 255);
        font-size: 13px;
        font-weight: bold;
    }
}

.talle-dark1{
    background-color: #006674;
}
.talle-dark2{
    background-color: #8e0000;
}
.talle-dark3{
    background-color: #006d36;
}
.talle-light1{
    background-color: #d5fbd7;
}
.talle-light2{
    background-color: #fed4d4;
}
.talle-light3{
    background-color: #ffe4c4;
}

.cuadrado{
    height: 20px;
    width: 35px;
    border-radius: 4px;
    border: 1px solid var(--placeholders);
}

.mat-column-t1, .mat-column-t2, .mat-column-t3, .mat-column-t4, .mat-column-t5, 
.mat-column-t6, .mat-column-t7, .mat-column-t8, .mat-column-t9, .mat-column-t10, .mat-column-total{
    max-width: 50px;
    min-width: 50px;
    padding: 0px !important;
    text-align: center;
    border-left: 1px solid rgb(255, 255, 255);
}

mat-header-cell[class*="mat-column-t"]:not(.mat-column-tipo, .mat-column-temporada),
mat-header-cell.mat-column-total {
  background-color: #c7e9ff;
  border-left: 1px solid #fff;
  justify-content: center;
}


mat-header-cell.mat-column-total{
    background-color: #faffb4 !important;
}
.mat-column-total{
    background-color: #faffb4;
}
mat-footer-cell {
  justify-content: center;
}

.dark-mode mat-header-cell[class*="mat-column-t"]:not(.mat-column-tipo, .mat-column-temporada),
.dark-mode mat-header-cell.mat-column-total {
  background-color: #046adf;  
}
.dark-mode mat-header-cell.mat-column-total{
    background-color: #bb5d10 !important;
}
.dark-mode .mat-column-total{
    background-color: #bb5d10 !important;
}

::ng-deep .tabla-productos mat-header-row {
  height: 35px; 
  max-height: 35px;
  min-height: 35px; 
}

::ng-deep .tabla-productos mat-header-cell {
  line-height: 32px;
  font-size: 13px; 
  font-weight: bold;
  min-height: 35px;
  height: 35px;
  text-transform: uppercase;
}


.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: calc(100% - 190px);
    padding: 10px 0px;
    background: var(--color-background) !important;

    button{
        width: 250px;
    }
}