<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="fire" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>


<div class="contenedor">
    <!-- #region ABMC -->
    <div class="abmc">
        <div class="botones">
          <button #btnAgregar type="button" class="btn btn-success btn-sm" (click)="Agregar()" ><mat-icon>add_circle</mat-icon>Agregar</button>
          <button type="button" class="btn btn-warning btn-sm" (click)="Modificar()"><mat-icon>edit_square</mat-icon>Modificar</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="Eliminar()"><mat-icon>delete_forever</mat-icon>Eliminar</button>
        </div>
        
        <div class="filtros">
          <!-- Boton para cambiar el tipo de vista  -->
          <!-- <mat-button-toggle-group [(ngModel)]="vistaSeleccionada" (change)="CambioDeVista()" class="vista">
            <mat-button-toggle value="lista" matTooltip="Vista en Lista"><mat-icon>view_headline</mat-icon></mat-button-toggle>
            <mat-button-toggle value="grilla" matTooltip="Vista con Imágenes"><mat-icon>view_list</mat-icon></mat-button-toggle>
          </mat-button-toggle-group> -->

          <!-- Procesos -->
          <div class="select">
            <mat-select [formControl]="procesoControl" placeholder="Proceso" (selectionChange)="ProcesoChange($event)" (openedChange)="pantalla>700?inputFiltro.focus():''">
                <div class="inputFiltro">
                <input matInput #inputFiltro
                        focused="'true'"
                        type="text"
                        (input)="filtrarProcesos($event)"
                        placeholder="Filtrar"
                        (keydown)="$event.stopPropagation()"
                        autocomplete="off">
                <mat-icon>filter_list</mat-icon>
                </div>
                <mat-divider></mat-divider>
                <mat-option *ngFor="let option of procesosFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="Limpiar" (click)="LimpiarProcesos()" style="color: rgb(255, 173, 173);">close</mat-icon>
          </div>

          <!-- Tipos -->
          <div class="select">
            <mat-select [formControl]="tipoControl" placeholder="Producto" (selectionChange)="TipoChange($event)" (openedChange)="pantalla>700?inputFiltro.focus():''">
                <div class="inputFiltro">
                <input matInput #inputFiltro
                        focused="'true'"
                        type="text"
                        (input)="filtrarTipos($event)"
                        placeholder="Filtrar"
                        (keydown)="$event.stopPropagation()"
                        autocomplete="off">
                <mat-icon>filter_list</mat-icon>
                </div>
                <mat-divider></mat-divider>
                <mat-option *ngFor="let option of tiposFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="Limpiar" (click)="LimpiarTipos()" style="color: rgb(255, 173, 173);">close</mat-icon>
          </div>

          <!-- Subtipos -->
          <div class="select">
            <mat-select [formControl]="subtipoControl" placeholder="Tipo" (selectionChange)="SubtipoChange($event)" (openedChange)="pantalla>700?inputFiltro.focus():''">
                <div class="inputFiltro">
                <input matInput #inputFiltro
                        focused="'true'"
                        type="text"
                        (input)="filtrarSubtipos($event)"
                        placeholder="Filtrar"
                        (keydown)="$event.stopPropagation()"
                        autocomplete="off">
                <mat-icon>filter_list</mat-icon>
                </div>
                <mat-divider></mat-divider>
                <mat-option *ngFor="let option of subtiposFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
            </mat-select>
            <mat-icon matTooltip="Limpiar" (click)="LimpiarSubtipos()" style="color: rgb(255, 173, 173);">close</mat-icon>
          </div>

          <!-- Input de Busqueda -->
          <app-busqueda (busqueda)="Buscar(undefined, $event)"></app-busqueda>
        </div>
        
      </div>
    <!-- #endregion ABMC -->

    <!-- #region HERRAMIENTAS -->
    <!-- <div class="herramientas">

      <div class="etiqueta">
        <mat-icon>construction</mat-icon>
        <span>Herramientas</span>
      </div>
      <div class="acciones">
        <button mat-flat-button color="primary" (click)="AbrirEtiquetas()"><mat-icon>more</mat-icon>Etiquetas</button>
      </div>
    </div> -->
    <!-- #endregion HERRAMIENTAS -->

    <div class="talles">
      @for (linea of lineasTalles; track $index) {
        @if (linea.id != 4){
          <div class="linea" [ngClass]="esDark ? 'talle-dark' + linea.id : 'talle-light' + linea.id">
            @for (item of linea.talles; track $index) {
              <div class="item">{{item}}</div>
            }
          </div>
        }
      }
    </div>

    <!-- #region TABLA -->
    <div class="tabla-productos">
      <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort [ngClass]="{ 'dark-mode': esDark }" >
        
        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="seleccionados.hasValue() && isAllSelected()"
                          [indeterminate]="seleccionados.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? seleccionados.toggle(row) : null"
                          [checked]="seleccionados.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Proceso -->
        <ng-container matColumnDef="proceso">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Proc.</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Proceso:</span>
              <div [matTooltip]="element.proceso">{{element.abrevProceso}}</div>
            </mat-cell>
        </ng-container>

        <!-- Codigo -->
        <ng-container matColumnDef="codigo">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Fecha:</span><p>{{element.codigo}}</p></mat-cell>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Nombre:</span><p>{{element.nombre}}</p></mat-cell>
        </ng-container>

        <!-- Tipo -->
        <ng-container matColumnDef="tipo">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Producto:</span><p>{{element.tipo}}</p></mat-cell>
        </ng-container>

        <!-- Subtipo -->
        <ng-container matColumnDef="subtipo">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Tipo:</span><p>{{element.subtipo}}</p></mat-cell>
        </ng-container>

        <!-- Genero -->
        <ng-container matColumnDef="genero">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Gen.</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Gen.:</span><p>{{element.genero}}</p> </mat-cell>
        </ng-container>

        <!-- Material -->
        <ng-container matColumnDef="material">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Material:</span><p>{{element.material}}</p></mat-cell>
        </ng-container>

        <!-- Color -->
        <ng-container matColumnDef="color">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Color:</span>
            <div [matTooltip]="element.color" class="cuadrado" [ngStyle]="{'background-color': element.hexa}"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="t1">
          <mat-header-cell mat-header-cell *matHeaderCellDef>XS</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t1}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t2">
          <mat-header-cell mat-header-cell *matHeaderCellDef>S</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t2}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t3">
          <mat-header-cell mat-header-cell *matHeaderCellDef>M</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t3}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t4">
          <mat-header-cell mat-header-cell *matHeaderCellDef>L</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t4}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t5">
          <mat-header-cell mat-header-cell *matHeaderCellDef>XL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t5}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t6">
          <mat-header-cell mat-header-cell *matHeaderCellDef>XXL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t6}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t7">
          <mat-header-cell mat-header-cell *matHeaderCellDef>3XL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t7}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t8">
          <mat-header-cell mat-header-cell *matHeaderCellDef>4XL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t8}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t9">
          <mat-header-cell mat-header-cell *matHeaderCellDef>5XL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t9}}</p></mat-cell>
        </ng-container>
        <ng-container matColumnDef="t10">
          <mat-header-cell mat-header-cell *matHeaderCellDef>6XL</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><p>{{element.t10}}</p></mat-cell>
        </ng-container>

        <!-- Total -->
        <ng-container matColumnDef="total">
          <mat-header-cell mat-header-cell *matHeaderCellDef>T</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Total:</span><p>{{element.total}}</p></mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="seleccionados.isSelected(row)"
            (click)="OnCellClick(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[15, 30, 60]"
        (page)="Buscar($event)"
        aria-label="Select page"
        class="mat-elevation-z1">
      </mat-paginator>
    </div>
    <!-- #endregion TABLA -->
  </div>
  