.select{
    display: flex;
    align-items: center;
    width: 250px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 0px 10px;
    height: 40px;
}
.select mat-icon{
    cursor: pointer;
    margin-left: 5px;
}

.filtros{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

// Boton Cambio de Vista
.vista{
    mat-button-toggle{
        height: 38px;
    }
    mat-icon{
        margin-top: -10px;
    }

    /* Cambia el color del ícono cuando el botón está activo */
    .mat-button-toggle-checked mat-icon {
    color: var(--color-primary); 
    }

    /* Cambia el color del ícono cuando está inactivo */
    mat-button-toggle mat-icon {
    color: var(--placeholders); /* Ejemplo: gris */
    }
} 

.cellImagen:hover{
    cursor: pointer;
}

//Mobile
@media (min-width: 700px) {
    //Tabla
    .mat-column-codigo{
        max-width: 220px;
    }
    .mat-column-cantidad{
        max-width: 100px;
    }
    .mat-column-costo, .mat-column-precio, .mat-column-unidad{
        max-width: 150px;
    }
    .mat-column-tipoPrecio{
        max-width: 70px;
    }
    .mat-column-imagen{
        max-width: 170px;
    }

    .filtros{
        justify-content:left;
    }
}

@media (max-width: 700px) {
    .mat-column-imagen{
        display: none;
    }
}


//Tabla
.mat-column-genero{
    max-width: 60px;
}
.mat-column-color, .mat-column-proceso{
    max-width: 80wpx;
}

.talles{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.linea{
    display: flex;
    width: 500px;
    margin-right: 50px;

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 35px;
        border-left: 1px solid rgb(255, 255, 255);
        font-size: 13px;
        font-weight: bold;
    }
}

.talle-dark1{
    background-color: #006674;
}
.talle-dark2{
    background-color: #8e0000;
}
.talle-dark3{
    background-color: #864500;
}
.talle-light1{
    background-color: #d5fbd7;
}
.talle-light2{
    background-color: #fed4d4;
}
.talle-light3{
    background-color: #ffe4c4;
}

.cuadrado{
    height: 20px;
    width: 35px;
    border-radius: 4px;
}


.mat-column-t1, .mat-column-t2, .mat-column-t3, .mat-column-t4, .mat-column-t5, 
.mat-column-t6, .mat-column-t7, .mat-column-t8, .mat-column-t9, .mat-column-t10, .mat-column-total{
    max-width: 50px;
    min-width: 50px;
    padding: 0px !important;
    text-align: center;
    border-left: 1px solid rgb(255, 255, 255);
}

mat-header-cell[class*="mat-column-t"]:not(.mat-column-tipo),
mat-header-cell.mat-column-total {
  background-color: #e4e4e4;
  border-left: 1px solid #fff;
  justify-content: center;
}

mat-header-cell.mat-column-total{
    background-color: var(--color-element-back) !important;
}

.dark-mode mat-header-cell[class*="mat-column-t"]:not(.mat-column-tipo),
.dark-mode mat-header-cell.mat-column-total {
  background-color: #2e2e2e;  
}
.dark-mode mat-header-cell.mat-column-total{
    background-color: var(--color-element-back) !important;
}

::ng-deep .tabla-productos mat-header-row {
  height: 35px; 
  max-height: 35px;
  min-height: 35px; 
}

::ng-deep .tabla-productos mat-header-cell {
  //padding: 4px 2px; 
  line-height: 32px;
  font-size: 13px; 
  font-weight: bold;
  min-height: 35px;
  height: 35px;
  text-transform: uppercase;
}


