.stepper{
    background-color: var(--color-background);
}
::ng-deep.mat-horizontal-stepper-header-container{
        margin: 10px 25px !important;
}
.step{
    margin-top: 30px;
}
mat-form-field{
    width: 200px;
    margin-right: 8px;
}
.form{
    padding: 5px 0px;
}

.info{
    font-size: 15px;
    font-family: 'Poppins-Light';
    text-align: center;
    
    span{
        color: var(--warn-text);
        font-family: 'Poppins-Regular';
    }
}


//redondeo
.redondeo{

    i{
        font-style: italic;
        font-weight: 500;
    }
    
    .texto-rojo {
        color: rgb(253, 103, 103);
    }
      
    .texto-verde {
        color: rgb(57, 161, 57);
    }
}

.alert{
    margin: 10px 0px;
    text-align: center;
}

.botones{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

//Tabla Resultados
.activa{
    background-color: var(--color-background);
}
.borrar{
    color: #ff9696;
    cursor: pointer;
}

@media (min-width: 700px) {
    .mat-column-costo, .mat-column-precio, .mat-column-porcentaje{
        max-width: 150px;
    }
    .mat-column-borrar{
        max-width: 90px;
    }
}