/*#region CONTENDOR Y RESUMEN*/
.contenedor{
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;

  .izq{
    flex: 2;
    max-width: 1000px;
  }
  .der{
    max-width: 400px;
    flex: 1;
  }
}

.resumen{
  width: 100%;
  background-color: var(--color-alternative);
  border-radius: 8px;
  padding: 15px;
  position: sticky;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*#endregion */

/*#region DATOS GENERALES*/
.cliente-input{
  flex: 2;
  width: 100%;
}
.cliente-card {
  padding-top: 15px;
  border-radius: 16px;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transition: all 0.3s ease;

  .cliente-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.8rem;

    .icon {
      background: var(--color-alternative);
      border-radius: 80%;
      padding: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    mat-icon {
      color: var(--color-primary);
    }

    .info {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }

  .datos-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .subcard {
      background: var(--color-alternative);
      border-radius: 12px;
      padding: 1rem;
      
      h5 {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-weight: 600;
        color: var(--color-primary);
        margin-bottom: 0.6rem;

        mat-icon {
          font-size: 20px;
          margin-top: 3px;
          color: var(--color-primary);
        }
      }

      p {
        margin: 0.2rem 0;
        font-size: 0.9rem;
      }
    }
  }
}

.noSeleccionado{
  flex: 1;
  width: 100%;
  margin-top: 15px;
  border-radius: 16px;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-alternative);
  flex-direction: column;
  
  p {
    margin:0;
    font-size: 17px;
  }

  .icon {
    background: var(--color-alternative);
    border-radius: 80%;
    padding: 5px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-icon {
    transform: scale(1.5);
    color: var(--color-primary);
  }
}

/*#endregion */






.stepper{
  padding: 20px;
  background-color: var(--color-background);
}
.mat-mdc-form-field {
  margin-top: 16px;
}

// .botones{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 15px;
//     z-index: 1;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     padding: 20px 0px;
//     background: var(--color-element-back) !important;

//     button{
//         width: 300px;
//     }
// }


.botones{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

    button{
      width: 250px;
    }
}

//PANTALLA 1
.form{
  padding: 0%;
  margin-top: 20px;

  .enLinea{
    display: flex;
    gap: 20px;

    > :first-child {
      flex: 2;
    }

    > :not(:first-child) {
      flex: 1;
    }
  }
}

.cliente{
  display: flex;
  gap: 35px;

  .input{
    flex: 1;

    button{
      width: 100%;
    }
  }
}

// .cliente-card {
//   padding-top: 15px;
//   border-radius: 16px;
//   flex: 2;
//   display: flex;
//   flex-direction: column;
//   gap: 1.2rem;
//   transition: all 0.3s ease;

//   .cliente-header {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     border-bottom: 1px solid var(--border-color);
//     padding-bottom: 0.8rem;

//     .icon {
//       background: var(--color-alternative);
//       border-radius: 80%;
//       padding: 5px;
//       width: 40px;
//       height: 40px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//     mat-icon {
//       color: var(--color-primary);
//     }

//     .info {
//       display: flex;
//       flex-direction: column;

//       h4 {
//         margin: 0;
//         font-weight: 600;
//         font-size: 1.2rem;
//       }

//       span {
//         font-size: 0.9rem;
//       }
//     }
//   }

//   .datos-section {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 1rem;

//     @media (max-width: 600px) {
//       grid-template-columns: 1fr;
//     }

//     .subcard {
//       background: var(--color-alternative);
//       border-radius: 12px;
//       padding: 1rem;
      
//       h5 {
//         display: flex;
//         align-items: center;
//         gap: 0.4rem;
//         font-weight: 600;
//         color: var(--color-primary);
//         margin-bottom: 0.6rem;

//         mat-icon {
//           font-size: 20px;
//           margin-top: 3px;
//           color: var(--color-primary);
//         }
//       }

//       p {
//         margin: 0.2rem 0;
//         font-size: 0.9rem;
//       }
//     }
//   }
// }

// .noSeleccionado{
//   margin-top: 15px;
//   border-radius: 16px;
//   flex: 2;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: var(--color-alternative);
//   flex-direction: column;
//   padding: 30px 0px;
 
//   p {
//     margin:0;
//     font-size: 17px;
//   }

//   .icon {
//     background: var(--color-alternative);
//     border-radius: 80%;
//     padding: 5px;
//     width: 50px;
//     height: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   mat-icon {
//     transform: scale(1.5);
//     color: var(--color-primary);
//   }
// }

// FIN PANTALLA 1

.productos{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;

  .izq{
    flex: 2;
  }
  .der{
    flex: 1.5;
    max-width: 730px;
  }
}

.filtros{
  background-color: var(--color-element-back);
  border-radius: 10px;
  padding: 20px;
}

// FILTRO DE PRODUCTOS
/*#region INPUTS FILTRO*/
.inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto);  
  column-gap: 10px; 
  row-gap: 10px;;
  align-items: start;
  flex: 2;
  margin-top: 10px;
}
.select{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 0px 10px;
    height: 40px;
}
.select mat-icon{
    cursor: pointer;
    margin-left: 5px;
}
.busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;

    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
}
.busqueda input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-font) !important;
}
.busqueda input:focus {
    outline: none; /* Elimina el borde del input al hacer clic */
}

.busqueda input::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--placeholders);
    font-weight: 400;
}

.busqueda mat-icon{
    cursor: pointer;
}


.color-grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
  width: 100%;

  .limpiar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.color-box {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.08);
  }

  &.selected {
    border: 5px solid var(--border-color)
  }
}

.colorSeleccionado{
  text-align: center;
  font-size: 13px;
  font-family: "Poppins-Regular";
  color: var(--warn-text);
  margin-top: 5px;
  margin-bottom: 0px;
}

.generos{
  width: 100%;
  margin-top: 15px;

  .limpiar{
    width: 60px;
  }
}
.cuadro-opcion {
    width: 100%;
    color: #000;
    border: 1px solid var(--border-color);
}

.esDark{
    color: white;
}
.opcionActiva{
    color: var(--color-primary);
}

/*#endregion*/
// FIN FILTRO DE PRODUCTOS

// PRODUCTOS

.resultados{
    flex: 1;
    border-radius: 8px;
    padding: 20px 0px;
    
    .tarjetas{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Cards de 160px de ancho y se ajustan al ancho del contenedor */
        gap: 15px; /* Espacio entre las cards */
        flex-wrap: wrap;
    }

    .tarjeta{
        width: 100%;
        height: 150px;
        text-align: center;
        border-radius: 8px;
        background-color: var(--color-alternative);
        border: 1px solid var(--border-color);;
        cursor: pointer;
        transition: ease 0.2s;

        display: flex;
        flex-direction: column;
    }
    .tarjeta:hover{
        transform: scale(1.03);
    }

    .tarjeta-seleccionada{
        border: 2px solid var(--color-primary);
    }
   
    //Achico las tarjetas para el telefono
    @media (max-width: 700px) {
        .tarjetas{
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Cards de 160px de ancho y se ajustan al ancho del contenedor */
        }
    }

    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 10px;
      
      p{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
      }
    }

    .abajo{
      padding-top: 5px;
      border-top: 1px solid var(--border-color);

      .lblGenero{
          font-size: 14px;
          color: var(--placeholders);
          margin-bottom: 5px;
      }
      .color-bar {
        height: 12px;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
}

.renglon {
    width: 230px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "Poppins-Regular";

    .arriba{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p{
            margin: 0;
            font-size: 25px;
            font-weight: 500;
        }
    }

    span{
        font-size: 14px;
        color: var(--placeholders);
    }
}

::ng-deep .popover.pop-dark {
  .popover-body {
    color: #fff;
    background-color: var(--color-background) !important;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
    padding: 0px;
  }
  .renglon{
    border-bottom: 1px solid #ccc;
  }
  .renglon:hover {
    background-color: var(--color-element-back);
  }

 .popover-header {
    background-color: #212529 !important; /* título oscuro */
    color: #fff !important;
 }
}

::ng-deep .popover.pop-light {
  .popover-body {
    color: #2e2e2e;
    background-color: white;
    border: 1px solid #a6a6a6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
    padding: 0px;
  }
  .renglon{
    border-bottom: 1px solid #a8a8a8;
  }
  .renglon:hover {
    background-color: #e1e1e1;
  }
}
// FIN PRODUCTOS

// DETALLE DE FACTURA
.detalle{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    background-color: var(--color-element-back);
    border-radius: 8px;
    
    .mat-column-cantidad{
        max-width: 60px;
        cursor: pointer;
        input{
            width: 40px;
        }
    }
    .mat-column-cantidad:not(mat-header-cell.mat-mdc-header-cell):hover{
        cursor: pointer;
        border: 1px solid var(--color-primary);
        border-radius: 8px;
        transition: border ease 1s;
    }
    
    .mat-column-actions{
        cursor: pointer;
        mat-icon{
            margin-right: 5px;
            color: var(--border-color);
        }
        
        .eliminar{
            mat-icon{
                color: #ff9696;
            }
        }
    }

    .pie{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        padding: 20px 0px 5px 30px;
        width: 100%;
        border-top: 1px solid var(--border-color);

        .total{
            height: auto;
            background-color: rgb(37, 37, 37);
            border-radius: 8px;
            color: #63ff44;
            padding: 5px 20px;
            font-size: 30px;
            width: 50%;
        }
        .items{
            color: var(--color-font);
            font-size: 17px;
        }
    }
}
// FIN DETALLE FACTURA


//TERCERA PANTALLA
.datos-cliente{
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: var(--color-alternative);
  border-radius: 4px;
}
.elemento{
  display: flex;
  gap: 5px;

  p{
    margin: 0%;
  }
  span{
    font-weight: 500;
    color: var(--placeholders);
  }
}

.detalle-productos{
  .mat-column-cantidad{
    padding: 0px 16px !important;
  }

  mat-table{
    max-height: 300px;
    overflow-y: auto
  }
}

.datos-finales{
  display: flex;
  gap: 30px;
  margin-top: 20px;

  .izq{
    flex: 1.5;
  }
  .der, .centro{
    flex: 1;
  }
}
.enLinea{
  display: flex;
  gap: 15px;
}

.centro{
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  width: 100%;  
  margin-top: 10px;
}

.der{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  width: 100%;
}
.fila {
  display: flex;
  justify-content: space-between;
  width: 260px; /* mismo ancho para todos los totales */
  margin-bottom: 5px;
}

.fila input {
  width: 100px;
  text-align: right;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--color-font) !important;
  padding: 2px 5px;
}
.fila input:focus {
  outline: none; 
}

.fila input::placeholder {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--placeholders);
  font-weight: 400;
}

.monto {
  font-weight: 600;
  text-align: right;
  min-width: 100px;
}

.total-final {
  border-top: 2px solid #ccc;
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
}
