<div class="contenedor">
    <div class="izq">
        <mat-accordion class="example-headers-align" multi>
            <!-- Panel de Generales -->
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Datos Generales
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="formGenerales" class="contenido">
                    <div class="enLinea">
                        <!-- Proceso -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Proceso</mat-label>
                            <mat-select formControlName="proceso">
                                <mat-option *ngFor="let option of procesos" [value]="option.id">{{option.descripcion}}</mat-option>
                            </mat-select>
                            <mat-error>
                                Selecciona una opción
                            </mat-error>
                        </mat-form-field>

                        <!-- Nro Nota Empaque -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>N° Nota Empaque</mat-label>
                            <input matInput type="number" formControlName="nroNota">
                            <mat-error>
                                El campo es requerido
                            </mat-error>
                        </mat-form-field>

                        <!-- Fecha -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="enLinea">

                        <div class="cliente-input">
                            <!-- Cliente -->
                            <mat-form-field appearance="outline" class="full-width field-cliente">
                                <mat-label>Cliente</mat-label>
                                <input autocomplete="off" matInput type="text" class="uppercase" formControlName="cliente" [matAutocomplete]="ClienteAuto">
                                <button type="button" mat-icon-button matSuffix matTooltip="Nuevo Cliente" (click)='NuevoCliente()'>
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                                <mat-autocomplete autoActivateFirstOption #ClienteAuto="matAutocomplete"
                                                    (optionSelected)="ChangeCliente($event.option.value)">
                                    <mat-option *ngFor="let cliente of filterClientes | async" [value]="cliente.id">
                                    {{cliente.documento}} - {{cliente.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                            <!-- Lista De Precios -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Lista de Precios</mat-label>
                                <mat-select formControlName="lista">
                                    <mat-option *ngFor="let option of listas" [value]="option.id">{{option.descripcion}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Selecciona una opción
                                </mat-error>
                            </mat-form-field>
                        </div>

                        @if(clienteSeleccionado){
                            <div class="cliente-card">
                                <div class="cliente-header">
                                    <div class="icon">
                                        <mat-icon>person</mat-icon>
                                    </div>
                                    <div class="info">
                                    <h4>{{ clienteSeleccionado.nombre }}</h4>
                                    <span>{{ clienteSeleccionado.tipoDocumento }} {{ clienteSeleccionado.documento }}</span>
                                    </div>
                                </div>

                                <div class="datos-section">
                                    <!-- Contacto -->
                                    <div class="subcard">
                                        <h5><mat-icon>call</mat-icon> Datos de contacto</h5>
                                        <p><strong>Teléfono:</strong> {{ clienteSeleccionado.telefono }}</p>
                                        <p><strong>Celular:</strong> {{ clienteSeleccionado.celular }}</p>
                                        <p><strong>Email:</strong> {{ clienteSeleccionado.email }}</p>
                                        <p><strong>Contacto:</strong> {{ clienteSeleccionado.contacto }}</p>
                                    </div>

                                    <!-- Fiscales -->
                                    <div class="subcard">
                                        <h5><mat-icon>assignment</mat-icon> Datos fiscales</h5>
                                        <p><strong>Razón Social:</strong> {{ clienteSeleccionado.razonSocial }}</p>
                                        <p><strong>Condición Fiscal:</strong> {{ clienteSeleccionado.condicionIva }}</p>
                                        <p><strong>Condición De Pago:</strong> {{ clienteSeleccionado.condicionPago }}</p>
                                    </div>
                                </div>
                            </div>

                        }@else {
                            <div class="noSeleccionado">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <p>Selecciona un cliente para ver sus datos</p>
                            </div>
                        }
                        
                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="der">
        <div class="resumen">

        </div>
    </div>
</div>

<div>
    <mat-stepper #stepper class="stepper">
        <mat-step [stepControl]="formGenerales" errorMessage="Name is required.">
            <form [formGroup]="formGenerales" class="form">
                <ng-template matStepLabel>Datos Generales</ng-template>
                
                <div class="enLinea">
                    <!-- Proceso -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Proceso/Punto</mat-label>
                        <mat-select formControlName="proceso">
                            <mat-option *ngFor="let option of procesos" [value]="option.id">{{option.descripcion}}</mat-option>
                        </mat-select>
                        <mat-error>
                            Selecciona una opción
                        </mat-error>
                    </mat-form-field>
                    
                    <!-- Nro Nota Empaque -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>N° Nota Empaque</mat-label>
                        <input matInput type="number" formControlName="nroNota">
                        <mat-error>
                            El campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                

                <div class="cliente">
                    <div class="input">
                        <!-- Cliente -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Cliente</mat-label>
                            <input autocomplete="off" matInput type="text" class="uppercase" formControlName="cliente" [matAutocomplete]="ClienteAuto">
                            <mat-autocomplete autoActivateFirstOption #ClienteAuto="matAutocomplete"
                                                (optionSelected)="ChangeCliente($event.option.value)">
                                <mat-option *ngFor="let cliente of filterClientes | async" [value]="cliente.id">
                                {{cliente.documento}} - {{cliente.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button mat-flat-button color="primary" (click)='NuevoCliente()'>
                            <mat-icon>add_circle</mat-icon>       
                            Agregar Nuevo Cliente
                        </button>
                    </div>
                   
                    @if(clienteSeleccionado){
                        <div class="cliente-card">
                            <div class="cliente-header">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <div class="info">
                                <h4>{{ clienteSeleccionado.nombre }}</h4>
                                <span>{{ clienteSeleccionado.tipoDocumento }} {{ clienteSeleccionado.documento }}</span>
                                </div>
                            </div>

                            <div class="datos-section">
                                <!-- Contacto -->
                                <div class="subcard">
                                    <h5><mat-icon>call</mat-icon> Datos de contacto</h5>
                                    <p><strong>Teléfono:</strong> {{ clienteSeleccionado.telefono }}</p>
                                    <p><strong>Celular:</strong> {{ clienteSeleccionado.celular }}</p>
                                    <p><strong>Email:</strong> {{ clienteSeleccionado.email }}</p>
                                    <p><strong>Contacto:</strong> {{ clienteSeleccionado.contacto }}</p>
                                </div>

                                <!-- Fiscales -->
                                <div class="subcard">
                                    <h5><mat-icon>assignment</mat-icon> Datos fiscales</h5>
                                    <p><strong>Razón Social:</strong> {{ clienteSeleccionado.razonSocial }}</p>
                                    <p><strong>Condición Fiscal:</strong> {{ clienteSeleccionado.condicionIva }}</p>
                                    <p><strong>Condición De Pago:</strong> {{ clienteSeleccionado.condicionPago }}</p>
                                </div>
                            </div>
                        </div>

                    }@else {
                        <div class="noSeleccionado">
                            <div class="icon">
                                <mat-icon>person</mat-icon>
                            </div>
                            <p>Selecciona un cliente para ver sus datos</p>
                        </div>
                    }
                    
                </div>
                
                <div class="botones">
                    <button mat-flat-button color="primary" matStepperNext>SIGUIENTE</button>
                </div>

            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Elegir Productos</ng-template>

            <div class="productos">
                <div class="izq">
                    <form [formGroup]="formFiltroProducto" class="filtros" autocomplete="off">

                         <!-- Codigo Nombre -->
                        <div class="busqueda">
                            <input id="inputBusqueda" type="text" placeholder="Código o Nombre" formControlName="codigoNombre" (input)="Buscar()">
                            <mat-icon matTooltip="Limpiar" (click)="limpiarInput()" style="color: rgb(255, 173, 173);">close</mat-icon>
                        </div>
                        
                        <div class="inputs">
                            <!-- Temporadas -->
                            <div class="select">
                                <mat-select formControlName="temporada" placeholder="Temporada" (selectionChange)="cambioSeleccionable('temporada')" (openedChange)="inputFiltro.focus()">
                                    <div class="inputFiltro">
                                    <input matInput #inputFiltro
                                            focused="'true'"
                                            type="text"
                                            (input)="filtrarSeleccionable($event, temporadas, 'temporadasFiltrado')"
                                            placeholder="Filtrar Temporada"
                                            (keydown)="$event.stopPropagation()"
                                            autocomplete="off">
                                    <mat-icon>filter_list</mat-icon>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <mat-option *ngFor="let option of temporadasFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
                                </mat-select>
                                <mat-icon matTooltip="Limpiar" (click)="limpiarSeleccionable('temporada')" style="color: rgb(255, 173, 173);">close</mat-icon>
                            </div>

                            <!-- Tipos -->
                            <div class="select">
                                <mat-select formControlName="tipo" placeholder="Producto" (selectionChange)="cambioSeleccionable('tipo')" (openedChange)="inputFiltro.focus()">
                                    <div class="inputFiltro">
                                    <input matInput #inputFiltro
                                            focused="'true'"
                                            type="text"
                                            (input)="filtrarSeleccionable($event, tipos, 'tiposFiltrado')"
                                            placeholder="Filtrar Producto"
                                            (keydown)="$event.stopPropagation()"
                                            autocomplete="off">
                                    <mat-icon>filter_list</mat-icon>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <mat-option *ngFor="let option of tiposFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
                                </mat-select>
                                <mat-icon matTooltip="Limpiar" (click)="limpiarSeleccionable('tipo')" style="color: rgb(255, 173, 173);">close</mat-icon>
                            </div>

                            <!-- Subtipos -->
                            <div class="select">
                                <mat-select formControlName="subtipo" placeholder="Tipo" (selectionChange)="cambioSeleccionable('subtipo')" (openedChange)="inputFiltro.focus()">
                                    <div class="inputFiltro">
                                    <input matInput #inputFiltro
                                            focused="'true'"
                                            type="text"
                                            (input)="filtrarSeleccionable($event, subtipos, 'subtiposFiltrado')"
                                            placeholder="Filtrar Tipo"
                                            (keydown)="$event.stopPropagation()"
                                            autocomplete="off">
                                    <mat-icon>filter_list</mat-icon>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <mat-option *ngFor="let option of subtiposFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
                                </mat-select>
                                <mat-icon matTooltip="Limpiar" (click)="limpiarSeleccionable('subtipo')" style="color: rgb(255, 173, 173);">close</mat-icon>
                            </div>

                            <!-- Material -->
                            <div class="select">
                                <mat-select formControlName="material" placeholder="Material" (selectionChange)="cambioSeleccionable('material')" (openedChange)="inputFiltro.focus()">
                                    <div class="inputFiltro">
                                    <input matInput #inputFiltro
                                            focused="'true'"
                                            type="text"
                                            (input)="filtrarSeleccionable($event, materiales, 'materialesFiltrado')"
                                            placeholder="Filtrar Tipo"
                                            (keydown)="$event.stopPropagation()"
                                            autocomplete="off">
                                    <mat-icon>filter_list</mat-icon>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <mat-option *ngFor="let option of materialesFiltrado" [value]="option.id">{{option.descripcion}}</mat-option>
                                </mat-select>
                                <mat-icon matTooltip="Limpiar" (click)="limpiarSeleccionable('material')" style="color: rgb(255, 173, 173);">close</mat-icon>
                            </div>
                        </div>
                        

                        <!-- Colores -->
                        @if(coloresMaterial.length > 0){
                            <div class="color-grid">
                                @for (color of coloresMaterial; track $index) {
                                    <div
                                        class="color-box"
                                        [class.selected]="colorSeleccionado && colorSeleccionado.id === color.id"
                                        (click)="colorSeleccionado = color; Buscar();"
                                        [matTooltip]="color.descripcion"
                                        [ngStyle]="{'background-color':color.hexa}"
                                    ></div>
                                }
                                <div class="color-box limpiar" matTooltip="Limpiar" (click)="limpiarColor()">
                                    <mat-icon style="color: rgb(255, 173, 173);">close</mat-icon>
                                </div>
                            </div>
                        }@else {
                            <div class="color-grid">
                                @for (color of coloresMaterialNoSeleccionado; track $index) {
                                    <div
                                        class="color-box"
                                        [ngStyle]="{'background-color':color.hexa}"
                                    ></div>
                                }
                            </div>
                        }

                        @if((colorSeleccionado && colorSeleccionado.descripcion) && coloresMaterial.length > 0){
                            <p class="colorSeleccionado">Color seleccionado: <span>{{colorSeleccionado.descripcion}}</span></p>
                        }

                        <mat-button-toggle-group formControlName="genero" appearance="legacy" exclusive class="generos"> 
                            @for (item of generos; track $index) {
                                <mat-button-toggle class="cuadro-opcion" [ngClass]="{'esDark':esDark, 'opcionActiva': item.id === generoControl}" [value]="item.id" 
                                [checked]="item.id === generoControl"
                                (click)="Buscar()">           
                                    {{item.descripcion}}
                                </mat-button-toggle>
                            }
                            <mat-button-toggle matTooltip="Limpiar" (click)="limpiarGenero()" class="cuadro-opcion limpiar">
                                <mat-icon style="color: rgb(255, 173, 173);">close</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </form>

            
                    <div class="resultados">
                        <div class="tarjetas">
                            <div *ngFor="let producto of productos" class="tarjeta" 
                             [ngClass]="{'tarjeta-seleccionada': producto.id === productoSeleccionado.id }" 
                             #p="ngbPopover"
                             [ngbPopover]="productoSeleccionado ? tallesTemplate : null"
                             [popoverClass]="esDark ? 'pop-dark' : 'pop-light'"
                             [popoverTitle]="'Talles'"
                             triggers="manual"
                             [autoClose]="'outside'"
                             placement="end"
                             (click)="SelecionarProducto(producto, p);"
                             (hidden)="DeseleccionarProducto();">
                                <div class="card-body">
                                    <span>{{producto.codigo}}</span>
                                    <p class="nombre">{{ producto.nombre }}</p>
                                </div>
                                <div class="abajo">
                                    <p class="lblGenero">{{producto.genero?.descripcion}}</p>
                                    <div class="color-bar" [ngStyle]="{'background': producto.color?.hexa}"></div>
                                </div>
                            </div>
                        </div>

                         <!-- Template del popover adicionales -->
                        <ng-template #tallesTemplate>
                            @for(talle of productoSeleccionado.talles; track $index) {
                                <div class="renglon" (click)="AgregarItem(talle)"> 
                                    <div class="arriba">
                                        <p>{{talle.talle}}</p>
                                        <p>${{talle.precio! | decimalFormat}}</p>
                                    </div>
                                    <span>Cantidad: {{talle.cantidad}}</span>
                                </div>
                            }
                        </ng-template>

                        <!-- Paginacion -->
                        <mat-paginator #paginator [pageSize]="8" (page)="Buscar($event)"></mat-paginator>
                        <!-- -------------------- -->
                    </div>
                </div>
                <div class="der">
                    
                    <!-- Detalle de Pedidos -->
                    <div class="detalle">
                        <mat-table mat-table [dataSource]="dataSource" class="ppalTable">
                                        
                            <!-- Cantidad -->
                            <ng-container matColumnDef="cantidad">
                                <mat-header-cell mat-header-cell *matHeaderCellDef>Cant</mat-header-cell>
                                <mat-cell class="data-cell" mat-cell matTooltip="Click para editar" *matCellDef="let element; let i = index" (click)="HabEdicionItem(i,element.cantidad)"> 
                                    <ng-container *ngIf="editarCelda === i; else nonEditable">
                                        <span class="mobile-label">Cantidad:</span>
                                        <input matInput type="text" [formControl]="newCantidad" #inputEditable focused="true" (keyup.enter)="EditarItemCantidad(i)" (keyup.esc)="editarCelda=undefined" (blur)="EditarItemCantidad(i)">
                                    </ng-container>
                                    <!-- No editable -->
                                    <ng-template #nonEditable class="data-cell">
                                        <span class="mobile-label">Cantidad:</span>{{element.cantidad}}
                                    </ng-template>
                                </mat-cell>
                            </ng-container>
                            
                            <!-- Producto -->
                            <ng-container matColumnDef="producto">
                                <mat-header-cell mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Producto:</span><p>{{element.producto}}</p>  </mat-cell>
                            </ng-container>

                              <!-- Talle -->
                            <ng-container matColumnDef="talle">
                                <mat-header-cell mat-header-cell *matHeaderCellDef>Talle</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Talle:</span><p>{{element.talle}}</p>  </mat-cell>
                            </ng-container>
                            
                            <!-- Unitario -->
                            <ng-container matColumnDef="unitario">
                                <mat-header-cell mat-header-cell *matHeaderCellDef>Unitario</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">unitario:</span><p>${{element.unitario | decimalFormat}}</p></mat-cell>
                            </ng-container>
                            
                            <!-- Total -->
                            <ng-container matColumnDef="total">
                                <mat-header-cell mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Total:</span><p> ${{element.total | decimalFormat}}</p></mat-cell>
                            </ng-container>

                            <!-- Borrar -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element;  let i = index">
                                    <div class="boton eliminar" matTooltip="Quitar" (click)="QuitarItem(i)"><mat-icon>delete_forever</mat-icon></div>
                                </mat-cell>
                            </ng-container>

                            <!-- Default row -->
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="{'hidden-row': row.accion=='B'}"></mat-row>

                        </mat-table>
                        
                        <div class="pie">
                            <div class="items">
                                Cant. Items: {{cantItems}}
                            </div>
                            <div class="total">
                                ${{totalItems | decimalFormat}}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="botones">
                <button mat-stroked-button color="primary" matStepperPrevious>ANTERIOR</button>
                <button mat-flat-button color="primary" matStepperNext>SIGUIENTE</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Vericar</ng-template>
            
            <div class="datos-cliente">
                <div class="elemento">
                    <span>Proceso:</span> <p>{{procesoValor}}</p>
                </div>
                |
                <div class="elemento" *ngIf="clienteSeleccionado">
                    <span>Cliente:</span> <p>{{clienteSeleccionado.nombre}}</p>
                </div>
                <div class="elemento" *ngIf="clienteSeleccionado">
                    <span>Email:</span> <p>{{clienteSeleccionado.email}}</p>
                </div>
                <div class="elemento" *ngIf="clienteSeleccionado">
                    <span>Celular:</span> <p>{{clienteSeleccionado.celular}}</p>
                </div>
                <div class="elemento" *ngIf="clienteSeleccionado">
                    <span>Historia:</span> <p>30%</p>
                </div>
            </div>

            <div class="detalle-productos">
                <mat-table mat-table [dataSource]="dataSource">
                     <!-- Cantidad -->
                    <ng-container matColumnDef="cantidad">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Cantidad:</span><p>{{element.cantidad}}</p>  </mat-cell>
                    </ng-container>

                    <!-- Codigo -->
                    <ng-container matColumnDef="codigo">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Codigo:</span><p>{{element.codProducto}}</p>  </mat-cell>
                    </ng-container>

                    <!-- Descripcion -->
                    <ng-container matColumnDef="producto">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Descripcion:</span><p>{{element.producto}}</p>  </mat-cell>
                    </ng-container>

                    <!-- Talle -->
                    <ng-container matColumnDef="talle">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Talle</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Talle:</span><p>{{element.talle}}</p>  </mat-cell>
                    </ng-container>
                   
                    <!-- Unitario -->
                    <ng-container matColumnDef="unitario">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Unitario</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">unitario:</span><p>${{element.unitario | decimalFormat}}</p></mat-cell>
                    </ng-container>
                    
                    <!-- Total -->
                    <ng-container matColumnDef="total">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"><span class="mobile-label">Total:</span><p> ${{element.total | decimalFormat}}</p></mat-cell>
                    </ng-container>

                    <!-- Default row -->
                    <mat-header-row *matHeaderRowDef="columnsVerificar; sticky: true"></mat-header-row>
                    <mat-row class="table-row" mat-row *matRowDef="let row; columns: columnsVerificar; let i = index"></mat-row>
                </mat-table>
                
            </div>

            <form class="datos-finales" [formGroup]="formDatosFinales">
                <div class="izq">
                    <div class="enLinea">
                        <!-- Tipo Pago -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Método de Pago</mat-label>
                            <mat-select formControlName="tipoPago" >
                                <mat-option *ngFor="let tpPago of tiposDePago" [value]="tpPago.id">{{tpPago.descripcion}}</mat-option>
                            </mat-select> 
                            <mat-error>Selecciona un metodo de pago</mat-error>
                        </mat-form-field>

                        <!-- Tipo Descuento -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Tipo de Descuento</mat-label>
                            <mat-select formControlName="tipoDescuento" >
                                <mat-option *ngFor="let tpDescuento of tipoDescuento" [value]="tpDescuento.id">{{tpDescuento.descripcion}}</mat-option>
                            </mat-select> 
                        </mat-form-field>

                        <!-- Descuento -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Descuento</mat-label>
                            <input matInput type="number" formControlName="descuento" placeholder="Descuento en porcentaje">
                        </mat-form-field>
                    </div>

                    <div class="enLinea">
                        <!-- Empresa -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Empresa</mat-label>
                            <mat-select formControlName="empresa" >
                                <mat-option *ngFor="let item of empresas" [value]="item.id">{{item.descripcion}}</mat-option>
                            </mat-select> 
                        </mat-form-field>

                        <!-- Comprobante -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Comprobante</mat-label>
                            <mat-select formControlName="tipoDescuento" >
                                <mat-option *ngFor="let item of comprobantes" [value]="item.id">{{item.descripcion}}</mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div>
                </div>

                <div class="centro">
                    <mat-icon>shopping_cart</mat-icon>
                    Cantidad Items: {{detalleFactura.length}}
                </div>
                
                <div class="der">
                    <div class="fila">
                        <span>Total Productos:</span>
                        <span class="monto">${{totalItems | decimalFormat}}</span>
                    </div>

                    <div class="fila">
                        <span>Descuento:</span>
                        <span class="monto">$3500</span>
                    </div>

                    <br>

                    <div class="fila">
                        <span>Total General:</span>
                        <span class="monto">$30000</span>
                    </div>

                    <div class="fila">
                        <span>Redondeo:</span>
                        <input
                        placeholder="Redondeo"
                        type="text"
                        formControlName="redondeo"
                        [imask]="decimal_mask"
                        />
                    </div>

                    <div class="fila total-final">
                        <span>Total A Pagar:</span>
                        <span class="monto">$30000</span>
                    </div>
                </div>

            </form>

            <div class="botones">
                <button mat-stroked-button color="primary" matStepperPrevious>ANTERIOR</button>
                <button mat-flat-button color="primary" matStepperNext>FACTURAR</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
