<div class="cabecera">
    <mat-icon>local_atm</mat-icon>
    <h2>{{titulo}}</h2>
</div>
<form class="form" [formGroup]="formulario" method="POST" autocomplete="off">
    <!-- Fecha -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--Responsables-->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Responsable</mat-label>
        <mat-select formControlName="idResponsable">
            <mat-option *ngFor="let responsable of responsables" [value]="responsable.id">{{responsable.nombre}}</mat-option >
        </mat-select>
    </mat-form-field>

    <!-- Inicial -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Monto Inicial</mat-label>
        <input matInput type="text" formControlName="inicial" [imask]="decimal_mask"
        (keyup.enter)='Guardar()'
        (keyup.esc)="dialogRef.close(false)"
        (focus)="SelectContent($event)">
    </mat-form-field>
</form>

<mat-dialog-actions align="center">
    <button class="btn-action" mat-flat-button color="primary" (click)='Guardar()' >ACEPTAR</button>
    <button class="btn-action" mat-flat-button color="warn" [mat-dialog-close]="false">CANCELAR</button>
</mat-dialog-actions>