@if(titulo != ""){
    <div class="cabecera">
        <mat-icon>escalator_warning</mat-icon>
        <h2>{{titulo}}</h2>
    </div>
}

<div class="contenido" [class.nuevo] = "titulo === ''">
    <form class="form" [formGroup]="formulario" method="POST" (keyup.enter)='Guardar()' (keyup.esc)="Cerrar(false)" autocomplete="off">

        <div class="izq">
            <app-custom-divider [texto]="'Básicos'" [icono]="'person'"></app-custom-divider>

            <!-- Nombre -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput class="uppercase" type="text" formControlName="nombre" (focus)="SelectContent($event)">
                <mat-error>
                    Completa con un nombre
                </mat-error>
            </mat-form-field>

            <div class="doble">
                <!-- Telefono -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="number" formControlName="telefono" (focus)="SelectContent($event)">
                </mat-form-field>

                <!-- Celular -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Celular</mat-label>
                    <input matInput type="number" formControlName="celular" (focus)="SelectContent($event)">
                </mat-form-field>
            </div>
        
            <!-- Contacto -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contacto</mat-label>
                <input matInput type="text" formControlName="contacto" (focus)="SelectContent($event)">
            </mat-form-field>
            
            <!-- Email -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" (focus)="SelectContent($event)">
                <mat-error>
                    El email no tiene un formato correcto
                </mat-error>
            </mat-form-field>

        </div>
        <div class="der">
            <app-custom-divider [texto]="'Datos Fiscales'" [icono]="'article_person'"></app-custom-divider>

            <!-- Razon -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Razón Social</mat-label>
                <input matInput class="uppercase" type="text" formControlName="razon" (focus)="SelectContent($event)">
                <mat-error>
                    Completa con una razón social
                </mat-error>
            </mat-form-field>

            <!-- Condicion IVA Receptor -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cond. Iva</mat-label>
                <mat-select formControlName="condIva">
                    <mat-option *ngFor="let option of condicionesIVAReceptor" [value]="option.id">{{option.id}} - {{option.descripcion}}</mat-option>
                </mat-select>
                <mat-error>
                    Selecciona una opción
                </mat-error>
            </mat-form-field>
            
            <div class="doble">
                <!-- Tipo Documento -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo Documento</mat-label>
                    <mat-select formControlName="tDocumento">
                        <mat-option *ngFor="let td of tiposDocumentoFiltrados" [value]="td.id">{{td.descripcion}}</mat-option >
                    </mat-select>
                </mat-form-field>

                <!-- Documento -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Documento</mat-label>
                    <input #codigoInput matInput type="number" formControlName="documento">
                    <mat-error *ngIf="documento?.hasError('required')">
                        El documento es obligatorio
                    </mat-error>
                
                    <mat-error *ngIf="documento?.hasError('pattern') && formulario.get('tDocumento')?.value === 96">
                    El DNI debe tener entre 7 y 8 dígitos numéricos
                    </mat-error>
                
                    <mat-error *ngIf="documento?.hasError('pattern') && (formulario.get('tDocumento')?.value === 80 || formulario.get('tDocumento')?.value === 86)">
                        El CUIT/CUIL debe ser válido (11 dígitos sin guiones, comenzando con 20, 23, 24, 27, 30, 33 o 34)
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="doble">
                <!-- Cond. Pago -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Condición Pago</mat-label>
                    <mat-select formControlName="condPago">
                        <mat-option *ngFor="let td of condicionesPago" [value]="td.id">{{td.descripcion}}</mat-option >
                    </mat-select>
                </mat-form-field>
                <!-- Categoria -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoria">
                        <mat-option *ngFor="let td of categorias" [value]="td.id">{{td.descripcion}}</mat-option >
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="center">
            <app-custom-divider [texto]="'Dirección'" [icono]="'location_on'"></app-custom-divider>
            <!-- Provincia -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Provincia</mat-label>
                <input type="text" matInput [matAutocomplete]="autoProv" formControlName="provincia"/>
                <mat-autocomplete #autoProv="matAutocomplete">
                    <mat-option *ngFor="let p of provinciasFiltradas$ | async" [value]="p.nombre">
                    {{ p.nombre }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="provinciaControl?.hasError('required')">
                    El campo es obligatorio
                </mat-error>
            </mat-form-field>

            <div class="doble">
                <!-- Codigo Postal -->
                <mat-form-field appearance="outline">
                    <mat-label>Código Postal</mat-label>
                    <input #codigoInput matInput type="number" formControlName="codPostal">
                    <mat-error *ngIf="codPostalControl?.hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <!-- Ciudad -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ciudad</mat-label>
                    <input type="text" matInput [matAutocomplete]="autoCity" formControlName="ciudad"/>
                    <mat-autocomplete #autoCity="matAutocomplete">
                        <mat-option *ngFor="let c of ciudades" [value]="c.nombre">
                        {{ c.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="ciudadControl?.hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="doble">
                <!-- Calle -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Calle</mat-label>
                    <input type="text" matInput [matAutocomplete]="autoStreet" formControlName="calle" />
                    <mat-autocomplete #autoStreet="matAutocomplete">
                        <mat-option *ngFor="let c of calles" [value]="c.nombre">
                        {{ c.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="calleControl?.hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <!-- Nro Calle -->
                <mat-form-field appearance="outline">
                    <mat-label>Nro Calle</mat-label>
                    <input #codigoInput matInput type="text" formControlName="numero">
                    <mat-error *ngIf="nroControl?.hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        
    </form>
</div>

  
@if(titulo === ""){
    <div class="botones">
        <button mat-flat-button color="primary" (click)='Guardar()' [disabled]="formulario.invalid">GUARDAR</button>
    </div>
}@else {
    <mat-dialog-actions align="center">
        <button class="btnGuardar" mat-flat-button color="primary" (click)='Guardar()' [disabled]="formulario.invalid">GUARDAR</button>
    </mat-dialog-actions>
}
