<div class="contenido">
    <div class="imagen">
        <img src="{{pathImagen}}" alt="Imagen no encontrada" width="450px">
    </div>
    <input id="imageInput" type="file" accept=".jpg, .png, .jpeg" (change)="onFileSelected($event)" style="display: none;"/>

    <div class="botones">
        <button mat-flat-button color="primary" (click)="SeleccionarImagen()"><mat-icon>perm_media</mat-icon>Seleccionar</button>
        <button mat-flat-button color="primary" (click)="AbrirCamara()"><mat-icon>photo_camera</mat-icon>Camara</button>
    </div>
    <div class="botones">
        <button mat-flat-button color="warn" (click)="Cerrar()">CERRAR</button>
    </div>
</div>

